/*recette*/


* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}






/*class de flexbox*/
.container-1000 {
    max-width: 1000px;
    
    margin-left: auto;
    margin: auto;
    width: 100%;

}
.flex{
    display: flex;
}
.flex2 {
  display: flex;
  flex-wrap: wrap;
}

.flex-column {
  flex-direction: column;
}

.reverse {
  flex-direction: row-reverse;
}

.justify-between {
  justify-content: space-between;
}
.space-between{
    justify-content: space-between;
}
.justify-around {
  justify-content: space-around;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.align-start {
  align-items: flex-start;
}

.align-end {
  align-items: flex-end;
}

.alternate>div:nth-child(2n) {
  flex-direction: row-reverse;
}

.gap {
  gap: var(--gap);
}
.gap12{
  gap: 12px;
}
/*class de largeur*/
.w40{
    width: 40%;
}
.w100 {
width: 100%;
}
.w48 {
    width: 48%;
}
.w50 {
width: 50%;
}
.w33 {
width: 33%;
}
.w22{
width: 22%;
}
.space-between {
    justify-content: space-between;



}
.space-around{
    justify-content: space-around;
  
}
.margin-top {
        margin-top: 50px;
}
.margin-top-20 {
        margin-top: 20px;
}
.margin-bottom{
    margin-bottom: 20px;
}
.align-center{
    align-items: center;
}
.font-size{
font-size:14px;
}



/*Styliser du texte*/
h1,
h2,
h3,
h4,
h5,
h6,
.title {
  margin-bottom: 16px;
  color: var(--premier-plan);
  font-weight: bold;
}
.align-center{
    align-items: center;
}
h1 {
  font-size: 38px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 18px;
}

p {
  line-height: 1.5;
  margin-bottom: 8px;
}

a {
  color: var(--premier-plan);
  text-decoration: none;
}

.text-center {
  text-align: center;
}
/*margin au padding*/
.mt-64 {
  margin-top: 64px;
}

.mt-32 {
  margin-top: 32px;
}
.mt-16{
  margin-top: 16px;
}

.mt-100 {
  margin-top: 100px;
}

.m-auto{
  margin-left: auto;
  margin-right: auto;
}

.p-16 {
  padding: 16px;
}

.ptb-32 {
  padding: 32px 0;
}

/*container*/
.container-1000{
    max-width: 1000px;
    
    margin-left: auto;
    margin: auto;
    width: 100%;
}

/*header*/
header {
  background-color: var(--troisieme-plan);
  padding: 16px 64px;
  position: sticky;
  top: 0px;
  left: 0px;
  z-index: 999;
  width: 100%;
}

header nav {
  display: flex;
  gap: 16px;
}

header nav a {
  color: var(--premier-plan);
  transition: color .33s ease;
}

header a:hover,
a:hover,
a:hover>i {
  color: var(--hover)
}
/*carte*/
.carte {
    width: 100%;
    background-color: rgb(105, 104, 102);
    
    padding: 5px 15px ;
    border-radius: 10px;
    
    margin-top: 100px;
    

}

.liste-puce{
  list-style-type: none;
}

/*générique*/




